html, body {
  height: 100%;
}

body {
  background: #d9d9d6;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.container {
  max-width: 500px;
  margin: auto;
}

/* LANDING */
#landing-text {
  text-align: center;
  padding: 60px 0;
}

/* ROLE BUTTON GAP */
.role-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

/* CARD */
.card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  margin-top: 40px;
}

/* BUTTONS */
.btn {
  padding: 12px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  border: none;
}

.btn-primary { background: #6d7c7a; color: white; }
.btn-success { background: #868f8d; color: white; }
.btn-danger { background: #515b57; color: white; }

.btn-outline-primary {
  border: 2px solid #6d7c7a;
  background: transparent;
  color: #6d7c7a;
}

.btn-outline-success {
  border: 2px solid #868f8d;
  background: transparent;
  color: #868f8d;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}
